.pie-value {
	position: relative;
	display: inline-block;
	height: auto;
	width: auto;
	cursor: pointer;
}

.pie-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);

	.recharts-pie-sector {
		cursor: pointer;
	}

	.pie-legend {
		transform: translate(-6px, 6px);
	}

	.pie-menuItems {
		.recharts-sector:hover {
			fill: lightgrey;
			opacity: 0.5;
		}
	}
}
